/* ///////////////////////////////////// */

/* APARTADO PARA EL HEADER DE LA PAGINA */

/* ///////////////////////////////////// */

.designLeaderBoard {

    position: relative;
    width: 1440px;
    height: 1024px;

    background: #262626;
}

.designHeaderLeader {

    position: absolute;
    width: 1440px;
    height: 88px;
    left: 0px;
    top: 0px;

    background: #171717;
}

.menuHeaderLeader {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 160px;
    top: 36px;

    background: #D9D9D9;
    /* background-image: url('../../Img/');
    background-size: contain; */
}

.logoHeaderLeader {

    position: absolute;
    width: 110.15px;
    height: 24px;
    left: 665px;
    top: 36px;

    background-image: url('../../Img/logo.png');
    background-size: contain;
}

.lenguageHeaderLeader {

    position: absolute;
    width: 24px;
    height: 24px;
    right: 371px;
    top: 36px;
    bottom: 28px;

    background-image: url('../../Img/lang_selector.svg');
    background-size: cover;
}

.profileImgHeaderLeader {

    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1119px;
    top: 36px;
    bottom: 28px;
    right: 297px;

    background-image: url('../../Img/john-smith.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #A3A3A3;
    border-radius: 50%;
}

.profileHeaderLeader {

    position: absolute;
    width: 80px;
    height: 17px;
    left: 1151px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #F5F5F5;
}

.logoutHeaderLeader {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1264px;
    top: 36px;

    background-image: url('../../Img/logout-icon.svg');
    background-size: cover;
}



/* ///////////////////////////////////// */

/* APARTADO PARA EL BODY DE LA PAGINA */

/* ///////////////////////////////////// */


/* LEADERBOARD HEADER */

.leaderBoardHeaderBG {

    position: absolute;
    width: 1140px;
    height: 32px;
    left: 152px;
    top: 138px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.rankTitle {

    position: absolute;
    width: 28px;
    height: 12px;
    left: 177px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.evolutionTitle {

    position: absolute;
    width: 59px;
    height: 12px;
    left: 263px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.avatarTitle {

    position: absolute;
    width: 39px;
    height: 12px;
    left: 374px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.aktiverTitle {

    position: absolute;
    width: 90px;
    height: 12px;
    left: 466px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;

    color: #D4D4D4;
}

.eventsTitle {

    position: absolute;
    width: 67px;
    height: 12px;
    left: 784px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.trophiesTitle {

    position: absolute;
    width: 67px;
    height: 12px;
    left: 879px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.timeSpentTitle {

    position: absolute;
    width: 60px;
    height: 12px;
    left: 989px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}

.pointsTitle {

    position: absolute;
    width: 38px;
    height: 12px;
    left: 1129px;
    top: 148px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;

    color: #D4D4D4;
}


/* LEADERBOARD RANKERS  ROW 1 - 10 */

/* /////////////////////// ROW 1 /////////////////////// */

.leaderBoardRow1BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 191px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank1BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 191px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank1TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 205px;
    right: 1233px;
    bottom: 790px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank1Evolution {

    position: absolute;
    width: 16px;
    height: 28px;
    left: 285px;
    top: 205px;
}

.boardRank1EvolutionIMG {

    width: 16px;
    height: 16px;
    top: 205px;
    bottom: 803px;
    left: 285px;
    right: 1139px;

    background-image: url('../../Img/leaderboard-up-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank1EvolutionTXT {

    position: absolute;
    left: 0%;
    right: 12.5%;
    top: 46.43%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank1Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 187px;

    background: url('../../Img/samantha-smith.jfif'), #676464;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #A3A3A3;
    border-radius: 50%;
}

.boardRank1AktiverTXT {

    position: absolute;
    width: 44px;
    height: 10px;
    left: 485px;
    top: 223px;
    bottom: 791px;
    right: 911px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank1AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    top: 221.33px;
    bottom: 789.33px;
    right: 957.11px;
    left: 464.14px;

    background: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank1AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 203px;
    bottom: 802px;
    right: 738px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank1Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 210px;
    right: 584px;
    bottom: 789px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank1Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 210px;
    right: 489px;
    bottom: 789px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank1TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 210px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank1PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 203px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank1PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 207px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank1ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 207px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


/* /////////////////////// ROW 2 /////////////////////// */


.leaderBoardRow2BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 271px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank2BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 271px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank2TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 285px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank2EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 297px;
    bottom: 711px;

    background-image: url('../../Img/leaderboard-down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank2EvolutionTXT {

    position: absolute;
    left: 286px;
    right: 1142px;
    top: 282px;
    bottom: 727px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank2Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    right: 1014px;
    top: 267px;
    bottom: 693px;

    background: url('../../Img/jane-taylor.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid #A3A3A3;
    border-radius: 50%;
}

.boardRank2AktiverTXT {

    position: absolute;
    width: 35px;
    height: 10px;
    left: 485px;
    top: 303px;
    bottom: 711px;
    right: 920px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank2AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    top: 301.33px;
    bottom: 709.33px;
    right: 957.11px;

    background: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank2AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 283px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank2Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 290px;
    bottom: 709px;
    right: 584px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank2Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 290px;
    bottom: 709px;
    right: 489px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank2TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 290px;
    bottom: 709px;
    right: 368px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank2PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 283px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank2PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 287px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank2ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 287px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* /////////////////////// ROW 3 /////////////////////// */


.leaderBoardRow3BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 351px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank3BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 351px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank3TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 365px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank3EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 372px;
    bottom: 631px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.boardRank3Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 347px;

    background: url('../../Img/james-jones.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank3AktiverTXT {

    position: absolute;
    width: 56px;
    height: 10px;
    left: 485px;
    top: 383px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;


    color: #FFFFFF;
}

.boardRank3AktiverFlag {

    position: absolute;

    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    top: 381.33px;
    bottom: 629.33px;
    right: 957.11px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank3AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 363px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank3Events {


    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 370px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank3Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 370px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank3TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 370px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank3PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 363px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank3PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 367px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank3ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 367px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 3 /////////////////////// */


.leaderBoardRow4BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 431px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank4BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 431px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank4TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 445px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank4EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 445px;
    bottom: 563px;

    background-image: url('../../Img/leaderboard-up-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank4EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 458px;
    bottom: 551px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank4Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 427px;

    background: url('../../Img/duke-wilson.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank4AktiverTXT {

    position: absolute;
    width: 53px;
    height: 10px;
    left: 485px;
    top: 463px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank4AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 461.33px;
    bottom: 459.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank4AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 443px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank4Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank4Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank4TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank4PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 443px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank4PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 447px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank4ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 447px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 5 /////////////////////// */


.leaderBoardRow5BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 511px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank5BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 511px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank5TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 525px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank5EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 525px;
    bottom: 486px;

    background-image: url('../../Img/leaderboard-up-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank5EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 538px;
    bottom: 471px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank5Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 507px;

    background: url('../../Img/claire-johnson.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank5AktiverTXT {

    position: absolute;
    width: 49px;
    height: 10px;
    left: 485px;
    top: 543px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank5AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 541.33px;
    bottom: 469.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank5AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 523px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank5Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 527px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank5Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 527px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank5TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 527px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank5PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 523px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank5PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 527px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank5ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 527px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 6 /////////////////////// */


.leaderBoardRow6BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 591px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank6BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 591px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank6TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 605px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank6EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 617px;
    bottom: 391px;

    background-image: url('../../Img/leaderboard-down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank6EvolutionTXT {

    position: absolute;
    left: 286px;
    right: 1142px;
    top: 602px;
    bottom: 407px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank6Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 587px;

    background: url('../../Img/john-smith.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank6AktiverTXT {

    position: absolute;
    width: 34px;
    height: 10px;
    left: 485px;
    top: 623px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank6AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 621.33px;
    bottom: 389.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank6AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 603px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank6Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 610px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank6Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 610px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank6TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 610px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank6PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 603px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank6PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 607px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank6ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 607px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 7 /////////////////////// */


.leaderBoardRow7BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 671px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank7BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 671px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank7TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 685px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank7EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 697px;
    bottom: 311px;

    background-image: url('../../Img/leaderboard-down-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.boardRank7EvolutionTXT {

    position: absolute;
    left: 286px;
    right: 1142px;
    top: 682px;
    bottom: 327px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank7Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 667px;

    background: url('../../Img/laura-williams.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank7AktiverTXT {

    position: absolute;
    width: 35px;
    height: 10px;
    left: 485px;
    top: 703px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank7AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 701.33px;
    bottom: 309.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank7AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 683px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank7Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank7Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    /* GREY_100 */

    color: #F5F5F5;
}

.boardRank7TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 690px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank7PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 683px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank7PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 687px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank7ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 687px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 8 /////////////////////// */


.leaderBoardRow8BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 751px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank8BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 751px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank8TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 765px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank8EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 765px;
    bottom: 231px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.boardRank8Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 747px;

    background: url('../../Img/paula-davies.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank8AktiverTXT {

    position: absolute;
    width: 35px;
    height: 10px;
    left: 485px;
    top: 783px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank8AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 781.33px;
    bottom: 229.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank8AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 763px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank8Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 770px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank8Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 770px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank8TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 770px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank8PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 763px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank8PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 767px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank8ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 767px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 9 /////////////////////// */


.leaderBoardRow9BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 831px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank9BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 831px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank9TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 845px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank9EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 845px;
    bottom: 151px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.boardRank9Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 827px;

    background: url('../../Img/chris-martin.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank9AktiverTXT {

    position: absolute;
    width: 25px;
    height: 10px;
    left: 485px;
    top: 863px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank9AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 861.33px;
    bottom: 149.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank9AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 843px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank9Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 850px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank9Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 850px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank9TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 850px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank9PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 843px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank9PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 847px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank9ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 847px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* /////////////////////// ROW 10 /////////////////////// */


.leaderBoardRow10BG {

    position: absolute;
    width: 1136px;
    height: 56px;
    left: 152px;
    top: 911px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #404040;
}

.boardRank10BG {

    position: absolute;
    width: 75px;
    height: 56px;
    left: 152px;
    top: 911px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #171717;
}

.boardRank10TXT {

    position: absolute;
    width: 32px;
    height: 29px;
    left: 175px;
    top: 925px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F5F5F5;
}

.boardRank10EvolutionIMG {

    position: absolute;
    left: 285px;
    right: 1139px;
    top: 925px;
    bottom: 83px;

    background-image: url('../../Img/leaderboard-up-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.boardRank10EvolutionTXT {

    position: absolute;
    left: 285px;
    right: 1141px;
    top: 938px;
    bottom: 71px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.boardRank10Avatar {

    box-sizing: border-box;

    position: absolute;
    width: 64px;
    height: 64px;
    left: 362px;
    top: 907px;

    background: url('../../Img/thomas-edwards.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

.boardRank10AktiverTXT {

    position: absolute;
    width: 44px;
    height: 10px;
    left: 485px;
    top: 943px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #FFFFFF;
}

.boardRank10AktiverFlag {

    position: absolute;
    height: 13.333333969116211px;
    width: 18.75px;
    left: 464.14px;
    right: 957.11px;
    top: 941.33px;
    bottom: 69.33px;

    background-image: url('../../Img/flag-uk.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boardRank10AktiverName {

    position: absolute;
    width: 236px;
    height: 19px;
    left: 466px;
    top: 923px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.boardRank10Events {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 780px;
    top: 930px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank10Trophies {

    position: absolute;
    width: 76px;
    height: 32px;
    left: 875px;
    top: 930px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank10TimeSpent {

    position: absolute;
    width: 106px;
    height: 32px;
    left: 966px;
    top: 930px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;

    color: #F5F5F5;
}

.boardRank10PointsBG {

    position: absolute;
    width: 96px;
    height: 32px;
    left: 1100px;
    top: 923px;

    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    background: #FCA704;
}

.boardRank10PointsTXT {

    position: absolute;
    width: 88px;
    height: 32px;
    left: 1104px;
    top: 927px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #404040;
}

.boardRank10ViewProfile {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1232px;
    top: 927px;

    background: url('../../Img/arrow-right-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}